.portrait {
  background: #022c43;
  float: right;
  width: 53%;
  height: 115%;
  margin-top: -3%;
}

.fill {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden
}
.fill img {
  flex-shrink: 0;
  max-width: 60%;
  max-height: 80%
}


